﻿@using WebApp.Security
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<string> defaultMenu = new List<string>() { "Category", "Variant", "Product", "Order" };
    List<string> userMenu = ContextAccessor.GetMenuRoles();
}
<!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-header">MENU</li>
        @if (userMenu.Count > 0)
        {
            @if (ContextAccessor.GetMenuRoles()[0] == "Administrator")
            {
                foreach (var item in defaultMenu)
                {

                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="@item" asp-action="Index">
                            <i class="nav-icon far fa-image"></i>
                            <p>
                                @item
                            </p>
                        </a>
                    </li>
                }
            }
            else
            {
                foreach (var item in ContextAccessor.GetMenuRoles())
                {
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="@item" asp-action="Index">
                            <i class="nav-icon far fa-image"></i>
                            <p>
                                @item
                            </p>
                        </a>
                    </li>
                }
            }
            
        }
        @if (ContextAccessor.IsAuthenticated())
            {
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Logout">
                       <i class="fa fa-sign-out" aria-hidden="true"></i>
                        <p>
                            Logout
                        </p>
                    </a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Index">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        <p>
                            Login
                        </p>
                    </a>
                </li>
            }
    </ul>
</nav>
<!-- /.sidebar-menu -->