﻿@model WebApi.DataModels.PerpustakaanViewModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaBuku)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaBuku)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Penerbit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Penerbit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pengarang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pengarang)
        </dd>
    </dl>
    
   <form asp-action="Delete" method="post" id="form-delete" name="form-delete">
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.NamaBuku)
        @Html.HiddenFor(model => model.Pengarang)
        @Html.HiddenFor(model => model.Penerbit)
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <input type="button" value="Cancel" data-dismiss="modal" class="btn btn-secondary" />
    </form>
</div>

<script type="text/javascript">
    $('#form-delete').submit(function () {
        var dataForm = new FormData($(this)[0]);
        $.ajax({
            url: this.action,
            type: this.method,
            data: dataForm,
            processData: false,
            contentType: false,
            success: function (result) {
                $('.modal-body').html(result);
            }
        })
        return false;
    });
</script>
