﻿@model WebApi.DataModels.PerpustakaanViewModel

<div>
    <dl class="row">
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.NamaBuku)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.NamaBuku)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.Penerbit)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.Penerbit)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.Pengarang)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.Pengarang)
        </dd>
    </dl>
</div>
<input type="button" value="Close" data-dismiss="modal" class="btn btn-danger" />

