﻿@model WebApi.DataModels.PerpustakaanViewModel

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit"method="post" id="form-edit" name="form-edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                <label asp-for="NamaBuku" class="control-label"></label>
                <input asp-for="NamaBuku" class="form-control" />
                <span asp-validation-for="NamaBuku" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Penerbit" class="control-label"></label>
                <input asp-for="Penerbit" class="form-control" />
                <span asp-validation-for="Penerbit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pengarang" class="control-label"></label>
                <input asp-for="Pengarang" class="form-control" />
                <span asp-validation-for="Pengarang" class="text-danger"></span>
            </div>
             <p class="text-danger">@ViewBag.ErrorMessage</p>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                 <input type="button" value="Cancel" data-dismiss="modal" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<script>
    $('#form-edit').submit(function () {
        var dataForm = new FormData($(this)[0]);
        $.ajax({
            url: this.action,
            type: this.method,
            data: dataForm,
            processData: false,
            contentType: false,
            success: function (result) {
                $('.modal-body').html(result);
            }
        })
        return false;
    });
</script>


