﻿@model IEnumerable<WebApi.DataModels.PerpustakaanViewModel>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NamaBuku)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Penerbit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pengarang)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NamaBuku)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Penerbit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pengarang)
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-warning btn-edit" data-id="@item.Id"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        <button type="button" class="btn btn-secondary btn-details" data-id="@item.Id"><i class="fa fa-info-circle" aria-hidden="true"></i>
                        <button type="button" class="btn btn-danger btn-delete" data-id="@item.Id"><i class="fa fa-trash-o" aria-hidden="true"></i>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


<script>
    $('.btn-edit').click(function () {
         $.ajax({
            url:'@Url.Action("Edit")',
            type:'get',
            data: { id :$(this).attr('data-id') },
            success: function(result) {
                $('.modal-title').html('Edit');
                $('.modal-body').html(result);
                $('#form-modal').modal('show');
            }
        })
    });
</script>

<script>
    $('.btn-details').click(function () {
         $.ajax({
            url:'@Url.Action("Details")',
            type:'get',
            data: { id :$(this).attr('data-id') },
            success: function(result) {
                $('.modal-title').html('Details');
                $('.modal-body').html(result);
                $('#form-modal').modal('show');
            }
        })
    });
</script>

<script>
    $('.btn-delete').click(function () {
         $.ajax({
            url:'@Url.Action("delete")',
            type:'get',
            data: { id :$(this).attr('data-id') },
            success: function(result) {
                $('.modal-title').html('Delete');
                $('.modal-body').html(result);
                $('#form-modal').modal('show');
            }
        })
    });
</script>
