﻿@model WebApi.DataModels.PerpustakaanViewModel

@{
    string customStyle = "";
    switch (ViewBag.title)
    {
        case "Create":
            customStyle = "text-success";
            break;
        case "Edit":
            customStyle = "text-warning";
            break;
        default:
            customStyle = "text-danger";
            break;
    }
}
<h3 class="@customStyle">@ViewBag.title successful!</h3>
<p>@Html.DisplayFor(model => model.NamaBuku) @ViewBag.subtitle!</p>
<input type="button" value="Close" data-dismiss="modal" onclick="GetList()" class="btn btn-danger" />
<script>type="text/javascript">
    $(document).ready(function () {
        GetList();
    });
</script>
