﻿@model IEnumerable<ViewModel.ProductViewModel>

<table class="table">
    <thead>
        <tr>
            <th>
                Product
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <button type="button" class="btn btn-success btn-select" data-dismiss="modal" data-id="@item.Id">
                        Select
                    </button>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Initial) -  @Html.DisplayFor(modelItem => item.Name)
                    <br />  @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
            </tr>
        }
    </tbody>
</table>
