﻿@using WebApp.Security;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>
        <img src="~/dist/img/beeh.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3 img-size-64" style="opacity: .8">
    </p>
   
    <h1 class="display-1">Hey @ContextAccessor.GetFullName()</h1>
    <p>______________________________________________________________________________________________________</p>
    <p>If you want to learn about <a href="https://stackoverflow.com/">building Web apps with your Brain</a>.</p>
    <p class="display-4">Thank You!</p>
</div>
