﻿@{
    ViewData["Title"] = "Privacy So Private";
}
<h1>@ViewData["Title"]</h1>
<p>________________________________________________</p>

<p>Stay In The Good Mood, Everyday.</p>

<p>________________________________</p>
