﻿@model ViewModel.CategoryViewModel


<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" method="post" id="form-edit" name="form-edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                <label asp-for="Initial" class="control-label"></label>
                <input asp-for="Initial" class="form-control" />
                <span asp-validation-for="Initial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <p class="text-danger">@ViewBag.ErrorMessage</p>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <input type="button" value="Cancel" data-dismiss="modal" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>


<script>
    $('#form-edit').submit(function () {
        var dataForm = new FormData($(this)[0]);
        $.ajax({
            url: this.action,
            type: this.method,
            data: dataForm,
            processData: false,
            contentType: false,
            success: function (result) {
                $('.modal-body').html(result);
            }
        })
        return false;
    });
</script>


