﻿@model IEnumerable<ViewModel.VariantViewModel>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Initial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Initial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
             <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-warning btn-edit" data-id="@item.Id"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    <button type="button" class="btn btn-secondary btn-details" data-id="@item.Id"><i class="fa fa-info-circle" aria-hidden="true"></i>
                    <button type="button" class="btn btn-danger btn-delete" data-id="@item.Id"><i class="fa fa-trash-o" aria-hidden="true"></i>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    $('.btn-edit').click(function () {
         $.ajax({
            url:'@Url.Action("Edit")',
            type:'get',
            data: { id :$(this).attr('data-id') },
            success: function(result) {
                $('.modal-title').html('Edit');
                $('.modal-body').html(result);
                $('#form-modal').modal('show');
            }
        })
    });
</script>

<script>
    $('.btn-details').click(function () {
         $.ajax({
            url:'@Url.Action("Details")',
            type:'get',
            data: { id :$(this).attr('data-id') },
            success: function(result) {
                $('.modal-title').html('Details');
                $('.modal-body').html(result);
                $('#form-modal').modal('show');
            }
        })
    });
</script>

<script>
    $('.btn-delete').click(function () {
         $.ajax({
            url:'@Url.Action("delete")',
            type:'get',
            data: { id :$(this).attr('data-id') },
            success: function(result) {
                $('.modal-title').html('Delete');
                $('.modal-body').html(result);
                $('#form-modal').modal('show');
            }
        })
    });
</script>